.main-container{
    width:100%;
    height:90vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25rem;

}
.headings{
    width:80%;
    height:12%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    place-items: center;
}
.headings h1{
    font-size: 3.125rem;
    font-weight: 200;
    padding-top:0.9375rem;
    padding-bottom: 0.625rem;
    color: orangered;
}
.headings .non-mobile-button{
    width:12.5rem;
    height:3.125rem;
    background: transparent;
    border:0.0625rem solid black;
}
.main-container .project-container{
    width:80%;
    height:100%;
    border: 0.0625rem solid rgb(226, 225, 225);
    display: flex;
    flex-direction: row;
   
}
.container-one{
    width:50%;
    min-height:100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:0;
}
.container-one .project{
    padding:1.125rem;
    border-right: 0.0625rem solid rgb(226, 225, 225);
    height:100%;
}
.container-one div:nth-child(1),.container-one div:nth-child(2){
    border-bottom: 0.0625rem solid rgb(226, 225, 225);
}
/* .project img, .project h1, .project p{
    opacity:0;
    visibility: hidden;
    transform: translateY(100px);
    transition: transform 1s ,opacity 1s;

}
.project.active img{
    transition-delay: 300ms;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.project.active h1, .project.active p{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
} */
.project img{
    width:75%;
    height:60%;
    object-fit: cover;
}
.project-container h1{
    padding-top: 0.8125rem;
    padding-bottom: 0.625rem;
    font-weight: 100;
}
.project-container p{
    font-size: 0.875rem;
}
.project-container h2{
    padding-top: 1.25rem;
    margin-top: 1.25rem;
    font-weight: 200;
    color: rgb(102, 98, 98);
}
.container-one .project:hover,.container-two:hover{
    background-color:rgb(240, 93, 39);
    color: white;
}
.container-two{
    width: 50%;
    height:100%;
    padding: 1.125rem;
}
.container-two img{
    width:100%;
    height:80%;
    flex-grow: 1;
    
}    
.main-container .mobile-button{
    display:none;
    width:95%;
    height:3.8rem;
    background: transparent;
    border:0.0625rem solid rgb(139, 136, 136);
    z-index: 1;
    margin-top: 5rem;
}

@media(max-width:1500px){
    html{
        font-size: 14px;
    }
    .main-container {
        min-height: 80vh;
    }
    .project-container h1{
        font-size: 17px;
    }
}
@media(max-width:1150px){
    html{
        font-size: 14px;
    }
    .main-container{
        height: 70vh;
    }
    .main-container .project-container{
        width:95%;
    }
    .headings{
        width:95%;
    }
}

@media(max-width:1000px){
    html{
        font-size: 12px;
    }
    .main-container{
        height: 65vh;
    }
}

@media(max-width:800px){
    .main-container .non-mobile-button{
        display: none;
    }
    .main-container{
        height: auto;
    }
    .headings{
        width:95%;
        align-items: center;
    }
    .main-container .project-container{
        width:95%;
        flex-direction: column;
    }
    .main-container .container-one{
        width:100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        border:none;

    }
    .project img{
        width:100%;
        height: auto;
    }
    .main-container .container-two{
        width:100%;
        height: auto;
    }
    .main-container .mobile-button{
        display:block;
    }
    .container-one div:nth-child(3),.container-one div:nth-child(4){
        border-bottom: 0.0625rem solid rgb(226, 225, 225);
        border-right: none;
    }
    .container-one div:nth-child(1),.container-one div:nth-child(2){
        border-right: none;
    }
}
@media(max-width:480px){
    .main-container{
        min-width: 300px;
    }
    .main-container .non-mobile-button{
        display: none;
    }
}